.vs/WhatsNext/v14/.suo
WhatsNext/bin/ApplicationInsights.config
WhatsNext/bin/Microsoft.AI.Agent.Intercept.dll
WhatsNext/bin/Microsoft.AI.DependencyCollector.dll
WhatsNext/bin/Microsoft.AI.DependencyCollector.xml
WhatsNext/bin/Microsoft.AI.PerfCounterCollector.dll
WhatsNext/bin/Microsoft.AI.ServerTelemetryChannel.dll
WhatsNext/bin/Microsoft.AI.ServerTelemetryChannel.xml
WhatsNext/bin/Microsoft.AI.Web.dll
WhatsNext/bin/Microsoft.AI.Web.xml
WhatsNext/bin/Microsoft.AI.WindowsServer.dll
WhatsNext/bin/Microsoft.AI.WindowsServer.xml
WhatsNext/bin/Microsoft.ApplicationInsights.dll
WhatsNext/bin/Microsoft.ApplicationInsights.xml
WhatsNext/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
WhatsNext/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
WhatsNext/bin/Newtonsoft.Json.dll
WhatsNext/bin/Newtonsoft.Json.xml
WhatsNext/bin/roslyn/csc.exe
WhatsNext/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
WhatsNext/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
WhatsNext/bin/roslyn/Microsoft.CodeAnalysis.dll
WhatsNext/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
WhatsNext/bin/roslyn/Microsoft.CSharp.Core.targets
WhatsNext/bin/roslyn/Microsoft.VisualBasic.Core.targets
WhatsNext/bin/roslyn/System.Collections.Immutable.dll
WhatsNext/bin/roslyn/System.Reflection.Metadata.dll
WhatsNext/bin/roslyn/vbc.exe
WhatsNext/bin/roslyn/VBCSCompiler.exe
WhatsNext/bin/roslyn/VBCSCompiler.exe.config
WhatsNext/bin/System.Net.Http.Formatting.dll
WhatsNext/bin/System.Net.Http.Formatting.xml
WhatsNext/bin/System.Web.Http.dll
WhatsNext/bin/System.Web.Http.WebHost.dll
WhatsNext/bin/System.Web.Http.WebHost.xml
WhatsNext/bin/System.Web.Http.xml
WhatsNext/bin/WhatsNext.dll
WhatsNext/bin/WhatsNext.dll.config
WhatsNext/bin/WhatsNext.pdb
WhatsNext/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WhatsNext/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNext/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNext/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNext/obj/Debug/WhatsNext.csproj.FileListAbsolute.txt
WhatsNext/obj/Debug/WhatsNext.csprojResolveAssemblyReference.cache
WhatsNext/obj/Debug/WhatsNext.dll
WhatsNext/obj/Debug/WhatsNext.pdb
WhatsNext/WhatsNext.csproj.user
